* {
  @include prefixer(box-sizing, border-box, webkit moz ms o);
  padding: 0;
  margin: 0;
}
body {
  font: {
    family: 'Be Vietnam', sans-serif;
    size: 16px;
  }
  &.scroll-locked {
    overflow: hidden;
  }
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none !important;
  @include prefixer(transition, color 0.3s, webkit moz ms o);
}
